<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Eam.Client.Model.TechData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Eam.Client.Model.TechData.Properties.Settings>
            <setting name="Log_file_base_path" serializeAs="String">
                <value>.\Log\</value>
            </setting>
        </Eam.Client.Model.TechData.Properties.Settings>
    </userSettings>
</configuration>